<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<settings>
<setting name="logImpl" value="LOG4J"/>
</settings>
<typeAliases>
<typeAlias type="org.ping.bean.MusicType" alias="musictype"/>
<typeAlias type="org.ping.bean.UserBean" alias="userbean"/>
<typeAlias type="org.ping.bean.UserStatus" alias="userstutus"/>
<typeAlias type="org.ping.bean.MusicUser" alias="musicuser"/>
<typeAlias type="org.ping.bean.Music" alias="music"/>
</typeAliases>
<mappers>
<mapper resource="org/ping/mapper/MusicTypeMapper.xml"/>
</mappers>
</configuration>